body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.icon-bar {
    width: 100%;
    background-color: #e6e6e6;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #f2f2f2;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #ffffff;
}

.active {
    background-color: #ffffff !important;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #ff7733;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#profil {
    padding: 16px;
}

#pesan {
    padding: 16px;
    display: none;
}

#sandi {
    padding: 16px;
    display: none;
}

#selamat {
    padding: 16px;
    display: none;
    text-align: center;
}

#jempol{
    font-size: 144px;
    color: #ff9933;
}

.oren{
    color: #ff7733;
}

.biru{
    color: #003399;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
